body {
	font-family: Source Sans Pro;
	max-width: 700px;
	width: 70%;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 40px;
}



.date {
	color:  #3498db;
	margin-left: 1.5%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .25em;
}


#head {
	font-size: 3.2em;
}

h1, h2 {
	color: #2c3e50;
	margin-left: 1.5%;
	margin-top: 25px;
	font-weight: 800;
	font-size: 2.2em;
}

p {
	margin-left: 1.5%
}

.firstP {
	border-left: 3px solid gray;
	padding-left: 8px;
}

p:nth-of-type(3) {
	margin-bottom: 20px;
}

hr {
	margin-bottom: 40px;
}